.body {
  font-style: 14px;
  line-height: 1.2;
  font-family: "Tinos";
}
[class*="__conteiner"] {
  max-width: 1140px;
  padding: 50px 0px;
  margin: 0 auto;
}
.title {
  font-size: 50px;
  font-weight: 400;
  color: #d67e35;
}
