.dishes {
}
.dishes__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dishes__title {
  font-size: 54px;
  margin-bottom: 50px;
  span {
    color: #d67e34;
  }
}
.dishes__content {
  display: flex;
  gap: 30px;
}
.dishes__foto {
}
.dishes__menu {
}
.menus {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.menus__item {
  display: flex;
  align-items: center;
  gap: 30px;
}
.menus__foto {
}
.menus__text {
  font-size: 26px;
}
